.item{
    color:white !important;
}
.header-img{
    width:100% !important;
}
.my-header{
    background:rgb(146, 90, 90) !important;
}
.abhi{
    color:black !important;
}
.cen{
    max-width:50% !important;
    margin-right:auto !important;
    margin-left:auto !important;
}